<?php include $viewPath.'/header.html';?>


<div class="wrap contain"> 
	<div class="common">
		<h3><b>关于Lakeui</b></h3>
		<div class="article">
			<p style="padding-left:88px;background:url('http://image.lakeui.com/icon_squre') 0 8px no-repeat;background-size:72px;min-height:72px;">你好，欢迎访问Lakeui，这是一个有温度，有态度，有深度的地方，有干货文章，有实战技能，更有情感故事！愿为您在学习的路上添砖加瓦，走向“钱”方！越走越远.....<br>
			如你所看，这是一个小站，由 <a href="http://www.lakeui.com/" target="_blank">Lakeui</a> 独立开发运营，现在你看到的是第1个版本。<br>
			Lakeui是一个非盈利网站，由老王和老衡2人维持，且依靠热心网友的捐赠维持运作，当然，如果你创造了一个不错的产品，需要提高曝光率，那这里也许是你宣传推广的一个选择，你可以通过 <a href="/page/donate/" target="_blank">捐赠</a> 在Lakeui投放广告。</p>
	
			<a href="" id="contact"></a>
			<h5 >联系站长</h5>
			<p><img src="http://image.lakeui.com/face" align="left" style="width:72px;margin:8px 16px 8px 0;">个人主页：<a href="http://www.lakeui.com" target="_blank">lakeui.com</a><br>
			头条号：<a href="https://www.toutiao.com/c/user/98845483814/" target="_blank">码出态度</a> <br>
			QQ：<?php echo $config['cfg_qq'];?>
			 <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=7e397a32bac0b125d1640b937c6df1ccdfecfa6ed5d8003b45b48398487f93ed"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="PHP实战训练营" title="PHP实战训练营"></a>
			</p>
			

			<h5 id="Thanks">特别鸣谢</h5>
			<p> 
				<a href="http://tongji.baidu.com/" target="_blank">百度统计</a> 提供网站访问统计数据服务。<br> 
				<a href="javascript:" target="_blank">老王</a> 提供 技术 支持。<br>
				<a href="javascript:" target="_blank">迈克</a> 提供 设计 支持。<br>
				<a href="javascript:" target="_blank">源大帅</a> 提供 运营 支持。<br>
				<a href="javascript:" target="_blank">归依</a> 提供 内容 支持。
			</p>
		
		</div>
		<div class="ad-list-a"> 
		</div>
	</div>
	
</div>
<?php include $viewPath.'/footer.html';?>
	
