<?php include $viewPath.'/header.html';?>


<div class="wrap contain"> 
	<div class="common">
		<h3><b>服务内容</b></h3>
		<div class="article">
			<p>
			  1、设计 <br>
			  2、前端 <br>
		      3、程序开发<br>
			  4、运营推广
			</p> 
		</div>


		<h3><b>开发服务流程</b></h3>
		<div class="article">
			<p>
			  1、客户需求 ：客户提供产品原型，产品说明文档。 <br>
			  2、沟通确定 : 充分了解需求，提供报价，研发时间等。<br>
		      3、签约 : 签订开发合同。<br>
			  4、验收 : 客户通过演示站和后台，进行测试，完善产品交工。
			</p>  
		</div> 
		
		<div class="ad-list-a"> 
		</div>
	</div>
	
</div>
<?php include $viewPath.'/footer.html';?>
	
