<?php include 'header.html';?>

	<div class="sneak-peek">
		<div class="wrap">
			<div class="sneak-peek-text">
		        <p class="sneak-peek-heading">支付宝现金红包雨下起来：祝大家xin春快乐！</p>
		        <p class="sneak-peek-description">站在新年交替的时间点，回望这一年：感恩16（一路）有你，相约17（一起）前行！祝福大家新年红红火火！</p>
		        <a class="read-the-story" href="" target="_blank"><i class="fa fa-hand-pointer-o"></i> 查看详情</a>
		    </div>
		    <div class="sneak-peek-img">
		        <img src="https://land-book.com/images/intro-graphic.png" alt="Intro graphic">
		    </div>
		</div>
	</div>
	

	<div class="wrap contain">
		<div class="main">
			<div class="categories">
				<ul>
					<li><a class="active" href="">全部</a></li>
					<li><a href="">PHP</a></li>
					<li><a href="">Javascript</a></li>
					<li><a href="">Nginx</a></li>
					<li><a href="">html5</a></li>
					<li><a href="">css3</a></li> 
				</ul>
			</div>
			<div class="article">
				
				<article>
					<div class="title">
						<a class="head-portrait" href=""><img src="http://cdn.uehtml.com/201503/1426405439622.jpg" alt=""></a>
						<h3><a  href="">2017·腾讯AlloyTeam招聘·Web+工程师</a></h3>
						<p>
							In <a href="" class="tag">Web开发</a> on <span class="posttime">2015年08月10日</span> by <a href="author" class="">TAT.Alloy</a>  View: <span class="view">26,718</span>
						</p>
					</div>
					<div class="content">
						<a href="" class="cover"><img src="http://cdn.uehtml.com/201612/1482321234665.jpg" alt=""></a>
						<div class="detail">
							<p>
							腾讯AlloyTeam开始社会招聘啦，想加入AlloyTeam的Web+（UI、JS、Server、Client）工程师们请抓紧！工作职责主要负责腾讯手机QQ、PC QQ中的Web业务开发。如果你热爱面向Web的开发工作，欢迎前来应聘，机会难得，各种挑战等着你～～ <a class="readmore" href=""><i class="fa fa-chain"></i> 继续阅读</a>
							</p>
							<div class=" tags">
								<a href="" class="label-item" target="_blank">小程序</a>
								<a href="" class="label-item" target="_blank" >阿里云</a>
							</div>
						</div>
						
					</div>
				</article> 

				<article>
					<div class="title">
						<a class="head-portrait" href=""><img src="http://cdn.uehtml.com/201507/1436491997899.jpg" alt=""></a>
						<h3><a  href="">从零开始React服务器渲染</a></h3>
						<p>
							In <a href="" class="tag">Web开发</a> on <span class="posttime">2015年08月10日</span> by <a href="author" class="">TAT.Alloy</a>  View: <span class="view">26,718</span>
						</p>
					</div>
					<div class="content">
						<a href="" class="cover"><img src="http://cdn.uehtml.com/201701/1483937275594.png" alt=""></a>
						<div class="detail">
							<p>
							当我们选择使用Node+React的技术栈开发Web时，React提供了一种优雅的方式实现服务器渲染。使用React实现服务器渲染有以下好处 <a class="readmore" href=""><i class="fa fa-chain"></i> 继续阅读</a>
							</p>
							<div class=" tags">
								<a href="" class="label-item" target="_blank">小程序</a>
								<a href="" class="label-item" target="_blank" >阿里云</a>
							</div>
						</div> 
					</div>
				</article>

				<article>
					<div class="title">
						<a class="head-portrait" href=""><img src="http://cdn.uehtml.com/201406/1402558769633.jpg" alt=""></a>
						<h3><a  href="">HTTP2 Server Push的研究</a></h3>
						<p>
							In <a href="" class="tag">Web开发</a> on <span class="posttime">2015年08月10日</span> by <a href="author" class="">TAT.Alloy</a>  View: <span class="view">26,718</span>
						</p>
					</div>
					<div class="content">
						<a href="" class="cover"><img src="http://cdn.uehtml.com/201612/1481648190827_280x180.jpg" alt=""></a>
						<div class="detail">
							<p>
							关于HTTP2的新特性，读着可以参看我之前的文章，这里就不在多说了，本篇文章主要讲一下server push这个特性。
HTTP,HTTP2.0,SPDY,HTTPS你应该知道的一些事<a class="readmore" href=""><i class="fa fa-chain"></i> 继续阅读</a>
							</p>
							<div class=" tags">
								<a href="" class="label-item" target="_blank">小程序</a>
								<a href="" class="label-item" target="_blank" >阿里云</a>
							</div>
						</div> 
					</div>
				</article>


				<article>
					<div class="title">
						<a class="head-portrait" href=""><img src="http://qzapp.qlogo.cn/qzapp/100516179/49E89B1DF14B06A7CFAD11F84A5236A6/100" alt=""></a>
						<h3><a  href="">模块加载工具制造指南</a></h3>
						<p>
							In <a href="" class="tag">Web开发</a> on <span class="posttime">2015年08月10日</span> by <a href="author" class="">TAT.Alloy</a>  View: <span class="view">26,718</span>
						</p>
					</div>
					<div class="content">
						<a href="" class="cover"><img src="http://cdn.uehtml.com/201701/1484118660693.jpg" alt=""></a>
						<div class="detail">
							<p>
							看到这个标题，估计有同学会想，又要重复造轮子么？其实重复造轮子在大多数情况下确实是不太可取的，既浪费了精力又浪费了时间。但这并不能说明重复造轮子完全不可取，比如你想要某个轮子的精简版，又比如你想学习某个轮子的制造方法，重复造轮子也可以是有意义的。<a class="readmore" href=""><i class="fa fa-chain"></i> 继续阅读</a>
							</p>
							<div class=" tags">
								<a href="" class="label-item" target="_blank">小程序</a>
								<a href="" class="label-item" target="_blank" >阿里云</a>
							</div>
						</div> 
					</div>
				</article>

				
				<div class="page">
					<ul>
						<li><a class="disabled" href="javascript:">上一页</a></li>
						<li><a class="curr" href="">1</a></li>
						<li><a href="javascript:">2</a></li>
						<li><a href="">3</a></li>
						<li><a href="">下一页</a></li>
					</ul>
				</div>

			</div>
		</div>


		<div class="slide">
			<div class="adv">
				<a href=""><img src="http://cdn.uehtml.com/201609/1473178162725.jpg" width="250" alt=""></a>
			</div>

			<div class="item">
				<p class="title"><i class="fa fa-tag"></i> 热门标签</p>
				<div class=" tags">
					<a href="" class="label-item" target="_blank">小程序</a>
					<a href="" class="label-item" target="_blank">阿里云</a>
					<a href="" class="label-item" target="_blank">算法</a>
					<a href="" class="label-item" target="_blank">架构</a>
					<a href="" class="label-item" target="_blank">云存储</a>
					<a href="" class="label-item" target="_blank">大数据</a>
				</div>
			</div>


			<div class="item">
				<p class="title"><i class="fa fa-user-plus"></i> 最新加入</p>
				<div class="user">
					<a href=""><img src="http://qzapp.qlogo.cn/qzapp/100516179/49E89B1DF14B06A7CFAD11F84A5236A6/100" alt=""></a>
					<a href=""><img src="http://cdn.uehtml.com/201503/1427254894528.jpg" alt=""></a>
					<a href=""><img src="http://cdn.uehtml.com/201609/147511859836.jpg" alt=""></a>
					<a href=""><img src="http://cdn.uehtml.com/201406/1402558769633.jpg" alt=""></a>
					<a href=""><img src="http://cdn.uehtml.com/201608/1471883406103.jpg" alt=""></a>
					<a href=""><img src="http://cdn.uehtml.com/201501/1420527582724.jpg" alt=""></a>
					<a href=""><img src="http://cdn.uehtml.com/201611/1479799510311.png" alt=""></a>
					<a href=""><img src="http://cdn.uehtml.com/201611/1479963493214.jpg" alt=""></a> 
				</div>
			</div>

			<!-- <div class="item">
				<p class="title"><i class="fa fa-commenting"></i> 近期评论</p>
				<ul class="comment">
					<li><a href="">不错的推荐啊</a></li> 
				</ul>
			</div> -->

			<div class="item">
				<p class="title"><i class="fa fa-link"></i> 友情链接</p>
				<ul class="link">
					<li><a href=""><i class="fa fa-angle-right"></i> 点滴网</a></li>
					<li><a href=""><i class="fa fa-angle-right"></i> 软件吧</a></li>
					<li><a href=""><i class="fa fa-angle-right"></i> 笑点</a></li>
					<li><a href=""><i class="fa fa-angle-right"></i> 点滴图片</a></li> 
				</ul>
			</div>
		</div>
	</div>
<?php include 'footer.html';?>
	
