<?php include $viewPath.'/header.html';?>


<!-- <div class="apple-banner">
  <div class="swiper-container">
    <div class="swiper-wrapper">

      <div class="swiper-slide slide1">
        <div class="title ">  
    		<b>有态度的Lakeui！</b> 
      		<span>梦想还是要有的，万一实现了呢？ </span>
      	</div>
      </div> 
      
      <div class="swiper-slide slide1 slide3">
        <div class="title ">
           <p> 一身才华，一触即发!</p>
        </div>
      </div>

    </div>
   
    <ul class="swiper-pagination autoplay"></ul>
  </div>
</div> -->

<!-- <?php if(!empty($banner)):?> 
<div class="sneak-peek" style="background-color: <?php echo $banner['bgcolor']?$banner['bgcolor']:"#6CD6C0"; ?> ">
	<div class="wrap">
		<div class="sneak-peek-text">
	        <p class="sneak-peek-heading"><?php echo $banner['title']; ?></p>
	        <p class="sneak-peek-description"><?php echo $banner['alt']; ?></p>
	        <a class="read-the-story" href="<?php echo $banner['url']; ?>" target="_blank"><i class="fa fa-hand-pointer-o"></i> 查看详情</a>
	    </div>
	    <?php if(!empty($banner['img'])):?>
	    <div class="sneak-peek-img">
	        <img src="<?php echo $banner['img']; ?>" alt="Intro graphic">
	    </div>
		<?php endif;?>
	</div>
</div> 
<?php endif;?> -->


<div class="wrap contain">
	<div class="main">
		<div class="categories">
			<ul>
				<li><a class="active" href="">最新</a></li>
				<?php 
				if(!empty($type)){
					foreach($type as $vo){
						echo '<li><a href="/cate/'.$vo["url"].'">'.$vo["typename"].'</a></li>';
					}
				}
				?> 
			</ul>
		</div>



		<div class="article"> 
			<?php if($list):?>
			<?php foreach($list as $vo):?>
			<article>
				<div class="title">

					<?php echo handle_user($vo);?>

					<h3><a href="/p/<?php echo $vo['uuid'];?>"><?php echo $vo['title'];?></a></h3>
					<p>
						In <a href="/<?php echo $vo['url'];?>" class="tag"><?php echo $vo['typename'];?></a> By <a href="/u/<?php echo $vo['user_id'];?>" class="b-author" rel="nofollow"><?php echo $vo['nickname'];?></a> / <span class="posttime"><?php echo date('M n, Y',$vo['create_time']);?></span>   View: <span class="view"><?php echo number_format($vo['view_num']);?></span>
					</p>
				</div>
				<div class="content">
					<a href="/p/<?php echo $vo['uuid'];?>" class="cover"><img src="<?php echo handle_img($vo['img'],1,400,270);?>" alt=""></a>
					<div class="detail">
						<p><?php echo $vo['shortdesc'];?> <a class="readmore" href="/p/<?php echo $vo['uuid'];?>"><i class="fa fa-chain"></i> 继续阅读</a>
						</p>
						<div class=" tags">
							<?php echo handle_tag($vo['tags']);?> 
						</div>
					</div>
				</div>
			</article> 
			<?php endforeach;?>
			<?php endif;?>
			 

		</div>
	</div>


	<div class="slide">

		<div class="adv">
			<?php echo $adv;?>
			
		</div>

		
		<?php if(!empty($tag)):?>
		<div class="item">
			<p class="title"><a href=""><i class="fa fa-tag"></i> 热门标签</a> <a class="all" href="/tag">全部 <i class="fa fa-angle-right"></i></a></p>
			<div class=" tags">
				<?php foreach($tag as $vo):?>
				<a href="/tag/<?php echo urlencode($vo);?>" class="label-item" target="_blank"><?php echo $vo;?></a>
				<?php endforeach;?>
			</div>
		</div>
		<?php endif;?>


		<?php if(!empty($ulist)):?>
		<div class="item">
			<p class="title"><i class="fa fa-user-plus"></i> 最新加入</p>
			<div class="user">
				<?php 
				foreach($ulist as $vo){
					echo '<a href="/u/'.$vo["id"].'"><img src="'.handle_img($vo['id'],2,100,100).'" alt="'.$vo["nickname"].'"></a>';
				}
				?> 
			</div>
		</div>
		<?php endif;?>

		<!--
		<div class="item">
			<p class="title"><i class="fa fa-commenting"></i> 近期评论</p>
			<ul class="comment">
				<li><a href="">不错的推荐啊</a></li> 
			</ul>
		</div>
		-->

		<?php if(!empty($link)):?>
		<div class="item">
			<p class="title"><i class="fa fa-link"></i> 友情链接</p>
			<ul class="link">
				<?php 
				foreach($link as $vo){
					echo '<li><a target="_blank" href="'.$vo["url"].'"><i class="fa fa-angle-right"></i> '.$vo["title"].'</a></li>';
				}
				?> 
			</ul>
		</div>
		<?php endif;?>
	</div>
</div>
<?php include $viewPath.'/footer.html';?>

