<?php include $viewPath.'/header.html';?>

<?php echo $crumb; ?>

<div class="wrap contain">


	<div class="main fl"> 
		<div class="article">
			
			<?php if($list):?>
			<?php foreach($list as $vo):?>
			<article>
				<div class="title">
					<a class="head-portrait" href="/u/<?php echo $vo['user_id'];?>"><img src="<?php echo handle_img($vo['face'],2,$vo['user_id'],1);?>" alt=""></a>
					<h3><a href="/p/<?php echo $vo['uuid'];?>"><?php echo $vo['title'];?></a></h3>
					<p>
						In <a href="/<?php echo $vo['url'];?>" class="tag"><?php echo $vo['typename'];?></a> By <a href="/u/<?php echo $vo['user_id'];?>" class="b-author" rel="nofollow"><?php echo $vo['nickname'];?></a> / <span class="posttime"><?php echo date('M n, Y',$vo['create_time']);?></span>   View: <span class="view"><?php echo number_format($vo['view_num']);?></span>
					</p>
				</div>
				<div class="content">
					<a href="/p/<?php echo $vo['uuid'];?>" class="cover"><img src="<?php echo handle_img($vo['img'],1);?>" alt=""></a>
					<div class="detail">
						<p><?php echo $vo['shortdesc'];?> <a class="readmore" href="/p/<?php echo $vo['uuid'];?>"><i class="fa fa-chain"></i> 继续阅读</a>
						</p>
						<div class=" tags">
							<?php echo handle_tag($vo['tags']);?> 
						</div>
					</div>
				</div>
			</article> 
			<?php endforeach;?>
			<?php endif;?>
			
			<div class="page">
				<?php echo $page;?>
				<!-- <ul>
					<li><a class="disabled" href="javascript:">上一页</a></li>
					<li><a class="curr" href="">1</a></li>
					<li><a href="javascript:">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">下一页</a></li>
				</ul> -->
			</div>

		</div>
	</div>


	
</div>
<?php include $viewPath.'/footer.html';?>
	
