<footer id="master-footer">
		<div class="wrap">
			<div class="column4 social">
				<a href="" class="logo">
					<img src="/<?php echo $theme;?>/images/logo@2x.png" alt="" width="144">
				</a>
				<p class="introduce">
					<?php echo $config['cfg_slogan'];?><br>
					<small><?php echo $config['cfg_slogan_en'];?></small>
				</p> 
			</div>
			<div class="column6 links">
				<ul>
					<?php 
					if($fmenu){
						foreach($fmenu as $vo){					
							echo '<li><a href="/page/'.$vo['flag'].'"><i class="fa '.$vo["css"].'"></i> '.$vo["title"].'</a></li>';
						}
					}
					?> 
				</ul>
			</div>

			<div class="column2 contact">
				<ul>
					<li><img src="<?php echo handle_img($config['cfg_wxcode']);?>" alt="微信二维码"><br>扫码关注微信</li>
					<li><img src="<?php echo handle_img($config['cfg_qqcode']);?>" alt="QQ二维码"><br>扫码加QQ群</li>
				</ul>
			</div>  
		</div>  
		<div class="copyright"> 
			<p class="wrap">建议使用 Safari, Chrome 浏览器访问本站  
				<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=9c16723d27cd07a9938bd34cf495febbc96279621b94850aaa07a0765747f195">PHP实战开发QQ群 :<?php echo $config['cfg_qqs'];?></a> 
			</p>
			<p class="wrap"><?php echo $config['cfg_copyright'];?></p>
		</div>

	</footer>
	<script src="/libs/jquery.min.js" type="text/javascript"></script>
	<script src="/libs/layui-v1.0.9/layui.js" type="text/javascript"></script>
	<?php echo isset($js)?$js:'';?>
	<script>
		layui.use('util', function(){
			var util = layui.util; 
			util.fixbar();
		});
	</script>
</body>
</html>