<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="/js/layui-v1.0.7/css/layui.css"> -->
	<link rel="stylesheet" href="/css/common.css">
</head>
<body>
	<header class="header">
		<div class="wrap m-header">
		  	<a class="logo"><img src="images/logo@2x.png" alt="" width="160" ></a> 
		  	<nav class="site-nav">
			  	<ul class="menu">
			  		<li><a class="active" href="">看图</a></li>
			  		<li><a href="">找软件</a></li>
			  		<li><a href="">笑一笑</a></li>
			  		<li><a href="">工具</a></li>
			  	</ul>
		  	</nav>
		    <nav class="user-nav">
		        <ul>
		            <li class="login"><a href="/login.html">Log in</a></li>
		          	<li><a class="reg-btn" href="/welcome"><i class="fa fa-pencil-square-o"></i> 发文章</a></li>
		        </ul>
		    </nav> 
		    <div class="search">
				<form class="header-search" action="/search"  method="get"> 
				    <i class="fa fa-search"></i>
				    <input type="text" name="q" id="search-query" value="" placeholder="Search...">
				</form>
			</div> 
	  	</div>
	</header>