<?php include $viewPath.'/header.html';?>
 

<?php echo $crumb; ?>

<div class="container contain nopad">
	
	<div class="contents"> 
		<div class="main"> 
			<div class="blog-heading">
				<h1 class="title">
					<?php
					$html='';
					if($row['original']==1){
						$html.='<span class="status-tag original" title="原创博客">原</span>';
					}elseif($row['original']==2){
						$html.='<span class="status-tag original" title="转载博客">转</span>';
					}
					if($row['index']){
						$html.'<span class="status-tag recommend" title="首页推荐过的博客">荐</span>';
					} 
					$html.=$row['title'];
					echo $html;
					?>
				</h1>
				<div class="blog-o-info"> 
				    
				    <span class="b-time">By <a href="/u/<?php echo $author['url']?$author['url']:$row['user_id'];?>" class="b-author" rel="nofollow"><?php echo $author['nickname'];?></a> / <?php echo date('M n, Y',$row['create_time']);?></span> 
				    <span class="b-watch">阅读 <i id="view_num">0</i></span>
				    <span class="b-comment phoneHide">评论 <i class="cmt_num">0</i></span> 
				    <span class="b-comment phoneHide">发表于 <a href="/<?php echo $row['url'];?>"><?php echo $row['typename'];?></a></span> 
				    <span class="b-watch phoneHide">字数：<i id="view_num"><?php echo $txt_num;?></i></span>
				    <span class="b-watch phoneHide">阅读时间：<i id="view_num"><?php echo $read_time;?></i></span>
				</div> 
		        <?php if($row['from_url']):?>
		        <p class="url">
		        	转载地址：<?php echo $row['from_url'];?>
		        </p>
		        <?php endif;?>
		        <p class="tags">
					<?php echo handle_tag($row['tags']);?> 
		        </p>
			</div>

			<?php if(!empty($row['shortdesc'])): ?>
			<p class="blog-summary">
			    <em>摘要：</em><?php echo $row['shortdesc'];?>
			</p>
			<?php endif;?>

			

			

			<?php if($row['fck']==2):?> 
			<div id="doc-content" class="markdown-body editormd-html-preview"> 
				<?php echo $row['contents'];?>
			</div>
			<?php elseif($row['fck']==3):?>
			<div id="doc-content"> 
    			<textarea style="display:none;"><?php echo $row['markdown'];?></textarea>
			</div>
			<?php else:?> 
			<div class="blog-body">
				<div class="blog-content"><?php echo $row['contents'];?></div>
			</div> 
			<?php endif;?>

			<?php if(!$phone): ?>
			<div class="code">
				<img src="/qrcode/<?php echo $row['uuid'];?>" style="width: 144px; height:144px">
				<p>手机扫码阅读，舒服~</p>
			</div>
			<?php endif;?>

		

			<div class="blog-footer"> 
			   <a href="#comment" class="cmtbtn"><i class="fa fa-comment-o"></i> 评论  (<i class="cmt_num">0</i>)</a>
			    <span id="love_btn"  title="喜欢" class="opt-btn "><i class="fa fa-thumbs-o-up"></i> <span id="havelove">喜欢</span> (<span id="good_num">0</span>)</span>
			    <span id="mark_btn"  title="收藏" class="opt-btn "><i class="fa fa-heart-o"></i> <span id="havefav">收藏</span> (<span id="fav_num">0</span>)</span>
			    <dl class="share-to">
			        <dt>分享到 : </dt>
			        <dd>
			            <a href="javascript:" target="_blank"  id="shareBtn" class="weibo"><i class="fa fa-weibo"></i></a>
			            <div class="wechat"><a class=" share-wechat" href="javascript:"><i class="fa fa-weixin"></i></a></div>
			        </dd>
			    </dl>
			</div>

<!-- 			<div class="about-content">
				<h3 class="title-info">相关文章</h3>
				<ul class="about-c-list">
			        <li><a href=""> </a></li> 
	            </ul>
			</div> -->

			<?php include $viewPath.'/article/comment.html';?>

		</div>

	</div>


	<div class="aside1 pdl15"> 

			
		<?php if(!empty($author)):?>
		<div class="aside_detail d-none d-lg-block">
			<div class="user-info">
				<a class="user-face" href="/u/<?php echo $author['user_id'];?>" target="_blank">
					<img src="<?php echo showImgStr($author['face']);?>">
				</a>

				<div class="user-con">
					<div class="user-name">
						<a href="/u/<?php echo $author['user_id'];?>" target="_blank"><?php echo $author['nickname'];?></a>

						<button type="button" data-id="<?php echo $author['user_id'];?>" class="follow-btn "><span>关注</span></button>

					</div>
					<div class="user-num">
						文章数量：<?php echo $author['article_num'];?>
					</div>
				</div>
			</div>


			<?php if(!empty($authorAritcle)):?>
			<div class="user-article">
				<ul class="article-list">
					<?php 
					foreach($authorAritcle as $vo){
						echo '<li><a href="/p/'.$vo['uuid'].'">'.$vo['title'].'</a> <span>'.$vo['view_num'].'阅读</span></li>';
					} 
				    ?> 
				</ul>
			</div>
			<?php endif;?>

		</div>
		<?php endif;?>



		<?php if(!empty($recomAritcle)):?>
		<div class="recom_detail">
			<h3 class="widget-title1">推荐阅读</h3>
			<ul class="article-list">
				<?php 
					foreach($recomAritcle as $vo){
						echo '<li><a href="/p/'.$vo['uuid'].'">'.$vo['title'].'</a> <span>'.$vo['view_num'].'阅读</span></li>';
					} 
				?> 
			</ul>
		</div>
		<?php endif;?>

	</div>
	 

	


	
</div>

<?php include $viewPath.'/footer.html';?>

<script>

$("#qsw_cmt_input").on('focus',function(){
	$(".qsw_cmt_button").removeAttr('disabled').removeClass('disabled');
}).on('blur',function(){
	if(!$(this).val()){
		$(".qsw_cmt_button").attr('disabled','disabled').addClass('disabled');
	}
});


$(".qsw_cmt_button").on('click',function(){
	var content = $("#qsw_cmt_input").val();
	if(!content){
		return ;
	}
	xz.ajaxPost(xz.api.comment,{
		"content":content,
		'type':1,
		"id":'<?php echo $row["uuid"];?>',
	},function(json){
		if(json.status==0){
			var html = `<li class="qsw_cmt_post">
                <dl class="qsw_cmt_msg">
                    <dt><img src="`+json.data.face+`" /></dt>
                    <dd>
                        <div class="qsw_cmt_user">`+json.data.nickname+`</div>
                        <div class="cmt-time">`+json.data.info+`</div>
                        <div class="qsw_cmt_text">`+json.data.content+`</div>
                        <div class="qsw_cmt_extend" data-id="`+json.data.id+`">
                        	<a href="javascript:" class="good"><i class="layui-icon layui-icon-praise"></i> 赞</a> 
                            <a href="javascript:" class="reply"><i class="layui-icon layui-icon-reply-fill"></i> 回复</a> 
                        </div>
                    </dd>
                    <span class="qsw_clear"></span>
                </dl>  
            </li>`;
			xz.success('评论成功',function(){
				 var num = parseInt($("#qsw_cmt_num").text())+1;
				 $("#qsw_cmt_num").text(num)
				 $(".qsw_cmt_comments").prepend(html);
				 $("#qsw_cmt_input").val('');
				 $(".qsw_cmt_button").attr('disabled','disabled').addClass('disabled');
			});
		}else if(json.status==2000){
			xz.error(json.info,function(){
				top.window.location.href="/login.html?backurl=<?php echo $url;?>"
			});
		}else{ 
			xz.error(json.info);
		}
	});
});

 


function qsw_show_face(){
    var obj = $(this);
    var css = $(".facecon").css("display");
    if(css=="block"){
        $(".facecon").hide();
    }else{
        $(".facecon").show();
        $(this).children("a").click(function(){
            
        }); 
        $(document).bind("click", function () {   
            var css = $(".facecon").css("display");
            if(css=="block"){
                $(".facecon").hide();
                $(document).unbind("click");
            }
        });
    }
    
};
  
 
$(function () {


	$(window).keydown(function (event) {
		var isSubmit = $(".qsw_cmt_button").attr('disabled');
		if(isSubmit=='disabled'){
			return;
		}
	    if((event.ctrlKey || event.metaKey) && event.keyCode == 13) {
	         $(".qsw_cmt_button").trigger('click');
	    }
	});


	<?php if($row['fck']==3):?>
	var testEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id 
	    htmlDecode: "style,script,iframe",
	    emoji: true,
	    taskList: true,
	    tocm: true,
	    tex: true, // 默认不解析
	    flowChart: true, // 默认不解析
	    sequenceDiagram: true, // 默认不解析
	    codeFold: true
	});
	<?php endif;?>


   var width = $(window).width();
   $(window).resize(function() {
      width = $(window).width();
   });

   if(width>970){
		$('.recom_detail').scrollFix({
			distanceTop: $(".header").outerHeight() + 10,
			endPos:350,
			zIndex: 50
		});
	}




	xz.initCommentList(xz.api.commentList,'<?php echo $row["uuid"];?>',1,1);
	$(".qsw_cmt_title a").click(function(){
        var order = $(this).data('order');

        $(".qsw_cmt_title a").removeClass('qsw_curr');
        $(this).addClass('qsw_curr');
        xz.initCommentList(xz.api.commentList,'<?php echo $row["uuid"];?>',1,order);
    });
	 
	//关注
	$(".follow-btn").click(function(){
		var obj = this;
		var id = $(this).data("id"),
			type = $(this).data('type');
		if(!id){
			return;
		}
		xz.ajaxPost(xz.api.follow,{id,type},function(json){
			if(json.status==0){
				var msg = '关注成功';
				if(type=='unfollow'){
					msg = '取消关注成功';
				}
				xz.success(msg,function(){
					if(type=='unfollow'){
						$(obj).removeClass('followed');
						$(obj).find('span').text('关注');
						$('.follow-btn').data('type','');
					}else{ 
						$(obj).addClass('followed');
						$(obj).find('span').text('已关注');
						$('.follow-btn').data('type','unfollow');

					}
				});
			}else if(json.status==2000){
				xz.error(json.info,function(){
					top.window.location.href="/login.html?backurl=<?php echo $url;?>"
				});
			}else{ 
				xz.error(json.info);
			}
		});
	}).hover(function(){
		if($(this).hasClass('followed')){
			$(this).find('span').text('取消关注');
		}
		
	},function(){
		if($(this).hasClass('followed')){
			$(this).find('span').text(' 已关注');
		}
	});


	//喜欢 
	$("#love_btn").click(function(event) {
		var obj = this;
		var type = $(obj).data('type');
		xz.ajaxPost(xz.api.good,{'id':'<?php echo $row["uuid"];?>',type},function(json){
			if(json.status==0){
				if(type=='unlove'){
					$(obj).data('type','love');
					$(obj).removeClass('is_click');
					$('#havelove').text('喜欢');
				}else{
					$(obj).addClass('is_click');
					$(obj).data('type','unlove');
				}
				$("#good_num").text(json.data);
			}else if(json.status==2000){
				xz.error(json.info,function(){
					top.window.location.href="/login.html?backurl=<?php echo $url;?>"
				});
			}else{
				xz.error(json.info);
			}
		});
	}).hover(function(){
		if($(this).hasClass('is_click')){
			$('#havelove').text('取消喜欢');
		}
		
	},function(){
		if($(this).hasClass('is_click')){
			$('#havelove').text(' 已喜欢');
		}
	});


	//收藏
	$("#mark_btn").click(function(event) {
		var obj = this;
		var type = $(obj).data('type');
		xz.ajaxPost(xz.api.fav,{'id':'<?php echo $row["uuid"];?>',type},function(json){
			if(json.status==0){
				if(type=='unfav'){
					$(obj).data('type','fav');
					$(obj).removeClass('is_click');
					$('#havefav').text('收藏');
				}else{
					$(obj).addClass('is_click');
					$(obj).data('type','unfav');
				}
				$("#fav_num").text(json.data);
			}else if(json.status==2000){
				xz.error(json.info,function(){
					top.window.location.href="/login.html?backurl=<?php echo $url;?>"
				});
			}else{
				xz.error(json.info);
			}
		});
	}).hover(function(){
		if($(this).hasClass('is_click')){
			$('#havefav').text('取消收藏');
		}
		
	},function(){
		if($(this).hasClass('is_click')){
			$('#havefav').text(' 已收藏');
		}
	});;


	xz.ajaxPost(xz.api.countArticleView,{'uuid':'<?php echo $row["uuid"];?>'},function(json){});


	//检测用户关注，喜欢，收藏数据
	xz.ajaxPost(xz.api.getUserData,{
		'user_id':'<?php echo !empty($author['user_id'])?$author['user_id']:"";?>',
		'article_id':'<?php echo $row["uuid"];?>',
	},function(json){
		if(json.status==0){
			if(json.data.follow==1){
				$(".follow-btn").addClass('followed');
				$('.follow-btn').find('span').text('已关注');
				$('.follow-btn').data('type','unfollow');
			}
			if(json.data.love==1){
				$('#love_btn').data('type','unlove');
				$('#love_btn').addClass('is_click');
				$("#havelove").text('已喜欢');
			}
			if(json.data.fav==1){
				$('#mark_btn').data('type','unfav');
				$('#mark_btn').addClass('is_click');
				$("#havefav").text('已收藏');
			}
			
		}
	});


	//获取文章数量
	xz.ajaxPost(xz.api.getArticleNum,{'uuid':'<?php echo $row["uuid"];?>'},function(json){
	    if(json.status==0){
	        $('.cmt_num').text(json.data.cmt_num);
	        $('#view_num').text(json.data.view_num);
	        $('#fav_num').text(json.data.fav_num);
	        $('#good_num').text(json.data.good_num); 
	    }
	});



	var html = `
		<div class="share-content">
			<h2>微信分享</h2>
			<p>打开微信“扫一扫”，打开网页后点击屏幕右上角分享按钮</p>
			<div><img width="180" src="https://image.lakeui.com/20200318fa0305d45bed6ca75926e5673d11b44d"></div>
		</div>
	`;
	$(".share-wechat").click(function(){
		layer.open({
		  title:false,
		  type: 1, 
		  shadeClose:true,
		  area: ['480px', '360px'], //宽高
		  content: html
		});
	});

	weiboShare();

}); 

function weiboShare(){
    var wb_shareBtn = document.getElementById("shareBtn")
    	wb_url = "<?php echo urlencode($url);?>", //获取当前页面地址，也可自定义例：wb_url = "http://liuyanzhao.com"
        wb_appkey = "<?php echo $weibokey;?>",//你的app key
        wb_title = "<?php echo $row['title'];?>",
        wb_ralateUid = "lw09net",//微博id，获得你的用户名
        wb_pic = "<?php echo urlencode(handle_img($row['img']));?>",
        wb_language = "zh_cn";
    wb_shareBtn.setAttribute("href","http://service.weibo.com/share/share.php?url="+wb_url+"&appkey="+wb_appkey+"&title="+wb_title+"&pic="+wb_pic+"&ralateUid="+wb_ralateUid+"&language="+wb_language+"");
}

</script>



 


