<!DOCTYPE html>
<html>
    <head>
        <title>开始使用XZ-Blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/admin.css">
    </head>
    <body class="xz-bg-gray"> 
    	<div class="login">
            <h3 class="title">欢迎使用 XZ-Blog</h3>   
    		<form  action="index.html" class="login-form">
                <div class="xz-form-group">
                    <input type="email" class="xz-input" placeholder="手机号/昵称" required="">
                </div>
                <div class="xz-form-group">
                    <input type="password" class="xz-input" placeholder="密码" required="">
                </div>
                <div class="xz-form-group"> 
                    <p class="login-forget">
                        <label>
                            <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" tabindex="0" class="hidden"> 记住我
                        </label>
                        <span class="fr">
                            <a href="/login.html#">忘记密码</a> |
                            <a href="/reg.html" class="xz-lanse">注册新账号</a> 
                        </span>
                    </p>
                </div>
                <div class="xz-form-group">
                    <button type="submit" class="xz-btn xz-btn-primary">登 录</button>  
                </div>
                <div class="xz-form-group">
                    <p class="o-title">
                        <span>其他方式登录</span>
                    </p>
                    <ul class="open-login">
                        <li><a href="" class="weixin"><i class="fa fa-weixin"></i></a></li>
                        <li><a href="" class="qq"><i class="fa fa-qq"></i></a></li>
                        <li><a href="" class="weibo"><i class="fa fa-weibo"></i></a></li>
                        <li><a href="" class="github"><i class="fa fa-github"></i></a></li>
                        <li><a href="" class="windows"><i class="fa fa-windows"></i></a></li>
                    </ul>
                </div>
            </form>
    	</div> 
    </body>
</html>
