<!DOCTYPE html>
<html>
    <head>
        <title>会员登录-<?php echo $config['cfg_website'];?></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link href="/libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="/<?php echo $theme;?>/css/admin.css">
    </head>
    <body class="xz-bg-gray"> 
    	<div class="login"  id='app'>

            <h3 class="title">
                <a href="/" class="logo"><img src="/<?php echo $theme;?>/images/logo_notxt.png" alt="<?php echo $config['cfg_website'];?>" ></a> <br/>
                <span><?php echo $config['cfg_website'];?>会员登录</span>
            </h3>   
    		<form  action="" class="login-form">
                <div class="xz-form-group">
                    <input type="text" v-model="phone" class="xz-input" placeholder="手机号/昵称" required="">
                </div>
                <div class="xz-form-group">
                    <input type="password" v-model="passwd" class="xz-input" placeholder="密码" required="">
                </div>
                <div class="xz-form-group"> 
                    <p class="login-forget">
                        <label>
                            <input name="remeber" v-model="remember" type="checkbox" value="1" > 记住我
                        </label>
                        <span class="fr">
                            <a href="/forget.html">忘记密码</a> |
                            <a href="/reg.html" class="xz-lanse">注册新账号</a> 
                        </span>
                    </p>
                </div>
                <div class="xz-form-group">
                    <button type="button"  @click="handle($event)" class="xz-btn xz-btn-primary" v-text="txt">登 录</button>  
                </div>
               <!--  <div class="xz-form-group">
                    <p class="o-title">
                        <span>其他方式登录</span>
                    </p>
                    <ul class="open-login">
                        <li><a href="javascript:" class="weixin"><i class="fa fa-weixin"></i></a></li>
                        <li><a href="" class="qq"><i class="fa fa-qq"></i></a></li>
                        <li><a href="" class="weibo"><i class="fa fa-weibo"></i></a></li>
                        <li><a href="" class="github"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div> -->
            </form>
    	</div> 
    </body>
</html>
<script src="/libs/jquery.min.js"></script>
<script src="/libs/layer/layer.js"></script> 
<script src="/libs/vue.min.js"></script>
<script src="/libs/md5.js"></script> 
<script src="/<?php echo $theme;?>/js/xz.js"></script>
<script> 
var Sign = new Vue({
    el: '#app',
    data:{
        phone: '',          //手机号
        passwd:'',
        txt: "登 录",
        remember: 0,
        sn:'<?php echo $sn;?>',
        islogin:false      
    },  
    methods:{
        handle: function(e){ 
            if(this.islogin) return false;
            if(e.target.classList.contains('disabled')) return false;
            if(!this.phone) { layer.msg('请输入登录账号！'); return false;}
            if(!this.passwd) { layer.msg('请输入密码！'); return false;}
            var _self = this;
            _self.txt = '处理中...';
            xz.ajaxPost(xz.api.login,{'remember':_self.remember,'phone': _self.phone,'sn': _self.sn,'passwd':md5(_self.passwd)},function(json){
                    _self.islogin = false;
                    if(json.status==0){
                        _self.txt = '跳转中...';
                        top.window.location.href = "<?php echo $backurl;?>";
                    }else{
                        _self.txt = '登 录';
                        layer.msg(json.info);
                    }
            },function(json){
                _self.islogin = false;
            })
        }
    }
});
 
    /****
    $('.weixin').on('click', function(event) {
        xz.ajaxPost(xz.api.wxcode,{'sn':''},function(json){
            if(json.status==0){
                layer.open({
                  type: 1,
                  title: false,
                  closeBtn: 0,
                  area: '516px',
                  skin: 'layui-layer-nobg', //没有背景色
                  shadeClose: true,
                  content: '<img src="" />'
                });
            }else{
                layer.msg(json.info);
            }
        });
    }); 
    **/


</script>
