<!DOCTYPE html>
<html>
    <head>
        <title>欢迎注册加入XZ-Blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link rel="stylesheet" href="/css/admin.css">
    </head>
    <body class="xz-bg-gray"> 
    	<div class="login">
    		<h3 class="title">欢迎使用 XZ-Blog</h3>
            <p class="sub-title">创建一个您的账户</p> 
    		<form  action="index.html">
                <div class="xz-form-group">
                    <input type="phone" class="xz-input" placeholder="手机号码" required="true">
                </div>
                <div class="xz-form-group">
                    <input type="text" class="xz-input xz-wd-180 fl" placeholder="验证码" required="true">
                    <input type="button" class="xz-btn xz-wd-110 fr" value="发送验证码">
                </div>
                <div class="xz-form-group">
                    <input type="password" class="xz-input" placeholder="密码" required="">
                </div> 
                <div class="xz-form-group">
                    <button type="submit" class="xz-btn xz-btn-primary">注 册</button> 
                    <p class="reg-botm"> <i>已有账号</i><a href="/login.html">立即登录</a></p> 
                </div> 
            </form> 
        </div>
    </body>
</html>
