	<div class="com-2-m-footer">
		<div class="footer-qr">
			<div class="footer-qr-object">
				<img class="footer-qr-image" src="//imgcache.qq.com/open_proj/proj_qcloud_v2/community/portal/css/img/wechat-qr.jpg">
			</div>
			<p class="footer-qr-info"><span class="footer-qr-text">长按识别或截图保存</span><span class="footer-qr-text">关注云+社区</span>
			</p>
		</div>
		<div class="footer-copyright">
			<p class="footer-copyright-info"><span class="footer-copyright-text">Copyright © 2013-2019</span><span class="footer-copyright-text">Tencent Cloud. All Rights Reserved.</span><span class="footer-copyright-text">腾讯云 版权所有</span>
			</p>
		</div>
	</div>


	<script src="/libs/zepto.min.js" type="text/javascript"></script>
	<script src="/<?php echo $theme;?>/js/xz.js" type="text/javascript"></script>
	<?php echo isset($js)?$js:'';?>
	 
</body>
</html>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?1efecdd030073d99d1c5847b90c9665a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
