<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title><?php echo $seo['seo_title'];?></title>
	<link rel="stylesheet" href="/<?php echo $theme;?>/css/base.css">
	<?php echo isset($css)?$css:"";?>
    <meta name="keywords" content="<?php echo $seo['seo_key'];?>">
    <meta name="description" content="<?php echo $seo['seo_desc'];?>">
</head>
<body>

<div class="header">
	华南理工网络教育学习
</div>

    

	
