<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/admin.css">
    </head>
    <body class="gray_bj">
        <div class="wrap">
        	<div class="login">
        		<h3>欢迎使用 H+</h3>
                <p class="regtitle">创建一个H+新账户</p>
                <p class="h30"></p>
        		<form  action="index.html">
	                <div class="form-group">
	                    <input type="email" class="form-control" placeholder="用户名" required="">
	                </div>
	                <div class="form-group">
	                    <input type="password" class="form-control" placeholder="密码" required="">
	                </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="再次输入密码" required="">
                    </div>
	                <button type="submit" class="btn btn-primary">注 册</button>


	                <p class="reg"> <i>已有账号</i><a href="register.html">立即登录</a>
	                </p>

	            </form>
        	</div>
        </div>
    </body>
</html>
