blockquote,body,button,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}
a:active,a:hover{outline:0}
img{display:inline-block;border:none}
li{list-style:none}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3{font-size:14px;font-weight:400}
h4,h5,h6{font-size:100%;font-weight:400}
button,input,optgroup,option,select,textarea{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;outline:0}
html,body{height:100%}
body{font-family:"Helvetica Neue",Helvetica,Arial,Verdana,Tahoma,sans-serif; position: relative; }
hr{height:1px;margin:10px 0;border:0;background-color:#e2e2e2;clear:both}
a{color:#333;text-decoration:none;}
a:hover{color:#777}
em,i{font-style:normal;}

/*****通用样式******/
.fl{float:left;}
.fr{float:right;}
.cls{clear:both;}
.xz-disabled,.xz-disabled:hover{color:#d2d2d2!important;cursor:not-allowed!important}
.xz-show{display:block!important}
.xz-hide{display:none!important}

/* 表单 */
.xz-form-group{ overflow: hidden; clear: both; padding: 5px 0; } 
.xz-input{ border-radius: 4px; width: 300px; padding:6px 0px;font-size:14px;text-indent:10px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ddd;}
.xz-btn{width: 100%;border-radius: 4px;background:#d0d0d0;color:#676565;padding:5px 0px;margin-bottom:0;font-size:14px;font-weight:400;text-align:center;cursor:pointer;line-height:1.6;border:1px solid #eee;}
.xz-btn-primary{background-color:#1ab394;border-color:#1ab394;color:#FFF;}
.xz-btn-primary.active,.xz-btn-primary:focus,.xz-btn-primary:hover{background-color:#18a689;border-color:#18a689;color:#FFF;}
/* 宽高度 */
.xz-wd{width:1080px;}
.xz-wd-100{width:100px;}
.xz-wd-110{width:110px;}
.xz-wd-180{width:180px;}

/* 背景颜色相关 */ 
.xz-bg-red{background-color:#FF5722}
.xz-bg-orange{background-color:#F7B824}
.xz-bg-green{background-color:#009688}
.xz-bg-cyan{background-color:#2F4056}
.xz-bg-blue{background-color:#1E9FFF}
.xz-bg-black{background-color:#393D49}
.xz-bg-gray{background-color:#eee}


/*******登录注册页面*******/
.login{ width:302px;overflow: hidden; position: absolute; top:50%; left: 50%; margin-top: -200px; margin-left: -151px; }
.login .title{text-align:center;padding:10px 0;color:#444;font-size:20px;}
.login .sub-title{text-align:center;font-size:12px;color:#666; margin-bottom: 30px;}
.reg-botm{line-height:30px;color:#666;text-align:center;font-size:13px;padding:10px 0;}
.reg-botm a{color:#337ab7;} 
.reg-botm span{ padding: 0 10px 0 5px; color: #aaa; }
.reg-botm i{color:#999;font-size:13px;padding:0 5px;} 
.reg-botm a:hover{ color: #000; }
.login-form{ padding-top: 30px; }
.login-forget{ font-size: 13px; color: #666; }
.login-forget a{ color: #444; }
.login-forget a.xz-lanse{color: #337ab7;}
.open-login{ overflow: hidden }
.open-login li{ width: 20%; float: left;text-align: center; }
.open-login li a{font-size: 22px; color: #fff; display: inline-block;line-height: 32px; width: 32px; height: 32px; background-color: #c9c9c9; border-radius: 100%; }
.open-login li a.weixin:hover{ background-color: #45b127 }
.open-login li a.weibo:hover{ background-color: #e32932 }
.open-login li a.qq:hover{ background-color: #3a94d5 }
.open-login li a.github:hover{ background-color: #0a0203 }
.open-login li a.windows:hover{ background-color: #00b0fb }
.o-title{ background-color: #c9c9c9; height: 1px;  position: relative;     margin: 20px 0 25px 0;}
.o-title span{padding: 0 20px; position: absolute; background-color: #eee; top: -9px;left: 88px;font-size: 14px; color: #9B9B9B;}




 
