<?php include $viewPath.'/header.html';?>
  

<div class="member_main">
	
	<?php include $viewPath.'/setting/left.html';?>

	<div class="member_content">
		<h2 class="member_title">我关注的作者</h2>
		<table cellpadding="1" cellspacing="1" class="layui-table">
			<colgroup>
				<col width="60">
			    <col> 
			    <col width="100">
			    <col width="180">
			    <col width="100">
			</colgroup>
			<thead>
				<tr>
					<th>ID</th>
					<th>作者</th>
					<th>文章数</th> 
					<th>关注时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<?php if(!empty($list)):?>
				<?php foreach($list as $vo): ?>
				<tr>
					<td><?php echo $vo['id'];?></td>
					<td>
						<a target="_blank" href="/u/<?php echo $vo['user']['url']?$vo['user']['url']:$vo['user']['user_id'];?>">
							<img width="30" src="<?php echo showImgStr($vo['user']['face']);?>" />
							<?php echo $vo['user']['nickname'];?>
						</a>
					</td>
					<td><?php echo $vo['user']['article_num'];?></td> 
					<td><?php echo date("Y-m-d H:i",$vo['create_time']);?></td>
					<td><a href="javascript:" class="cancel" 
						data-id="<?php echo $vo['relate_id'];?>"
						data-msg="确定取消关注该作者吗?"
						data-type="unfollow"
					>取消关注</a></td>
				</tr> 
				<?php endforeach; ?>
				<?php else:?>
				<tr>
					<td colspan="5" class="empty">暂无数据</td>
				</tr>
				<?php endif;?> 
			</tbody>
		</table> 
		<div id="page"></div>
	</div>


</div>
 
	
<?php include $viewPath.'/footer.html';?>
<script>
layui.use(['laypage','layer'], function(){
  var laypage = layui.laypage;
  var layer = layui.layer;
  //执行一个laypage实例
  laypage.render({
    elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
    ,count: <?php echo $num;?> //数据总数，从服务端得到
    ,jump: function(obj, first){
	    //obj包含了当前分页的所有参数，比如：
	    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
	    console.log(obj.limit); //得到每页显示的条数
	    
	    //首次不执行
	    if(!first){
	      //do something
	    }
	 }
  }); 
});

xz.confirm(".cancel",xz.api.follow);
</script>


