<?php include $viewPath.'/header.html';?>
  

<div class="member_main">
	
	<?php include $viewPath.'/setting/left.html';?>

	<div class="member_content">
		<h2 class="member_title">我喜欢的文章</h2>
		<table cellpadding="1" cellspacing="1" class="layui-table">
			<colgroup>
				<col width="60">
			    <col> 
			    <col width="150">
			    <col width="100">
			</colgroup>
			<thead>
				<tr>
					<td>ID</td>
					<th>文章标题</th> 
					<th>收藏时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<?php if(!empty($list)):?>
				<?php foreach($list as $vo): ?>
				<tr>
					<td><?php echo $vo['id'];?></td>
					<td><a target="_blank" href="/p/<?php echo $vo['relate_id'];?>"><?php echo $vo['title'];?></a></td>
					<td><?php echo date("Y-m-d H:i",$vo['create_time']);?></td>
					<td><a href="javascript:" class="cancel"  
						data-id="<?php echo $vo['relate_id'];?>"
						data-msg="确定移除喜欢吗？"
						data-type="unfav"
					>取消喜欢</a></td>
				</tr>
				<?php endforeach; ?>
				<?php else:?>
				<tr>
					<td colspan="4" class="empty">暂无数据</td>
				</tr>
				<?php endif;?> 
			</tbody>
		</table> 
		<div id="page"></div>
	</div>


</div>
 
	
<?php include $viewPath.'/footer.html';?>
<script>
layui.use('laypage', function(){
  var laypage = layui.laypage;
  //执行一个laypage实例
  laypage.render({
    elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
    ,count: <?php echo $num;?> //数据总数，从服务端得到
    ,jump: function(obj, first){
	    //obj包含了当前分页的所有参数，比如：
	    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
	    console.log(obj.limit); //得到每页显示的条数
	    
	    //首次不执行
	    if(!first){
	      //do something
	    }
	 }
  });
});

xz.confirm(".cancel",xz.api.good);

</script>


