<?php include $viewPath.'/header.html';?>

<?php echo $crumb;?>

<div class="wrap contain nopad">

	<div class="left">
		<div class="aside"> 

			<?php if(!empty($type)):?>
			<div class="widget sidebar-course">
				<h3 class="widget-title">文章分类</h3>
				<div class="cont">
				    <ul>
				    	<?php foreach($type as $vo):?>
				    	 <li>
				    	 	<?php if(!empty($vo['img'])):?>
							<a class="thumb" href="/cate/<?php echo $vo['url'];?>" ><img src="<?php echo handle_img($vo['img'],2,90,90);?>" ></a>
							<?php endif;?>

							<h3><a href="/cate/<?php echo $vo['url'];?>"><?php echo $vo['typename'];?></a></h3> 
							<p><?php echo $vo['shortdesc'];?></p>
						</li>
						<?php endforeach;?>
				         
					</ul>
				</div>
			</div> 
			<?php endif;?>

			<?php if(!empty($tag)):?>  
			<div class="widget sidebar-tags auto_fixed">
				<h3 class="widget-title"><a class="all" href="/tag">标签</a></h3>
				<div class="cont">
					<?php foreach($tag as $vo):?>
					<a href="/tag/<?php echo urlencode($vo['tagname']);?>" title="<?php echo $vo['num'];?>个话题"  target="_blank"><?php echo $vo['tagname'];?></a>
					<?php endforeach;?> 
				</div>
			</div>
			<?php endif;?>
		</div>
	</div>


	<div class="contents"> 
		<div class="mid">
			<div class="main1">
				<div class="categories singleline">
					<ul>
						<li><span>共 <?php echo $total;?> 篇文章</span><a class="active" href="/search?q=<?php echo urlencode($q);?>"><?php echo $q;?></a> 搜索结果</li>
					</ul>
				</div>

				<div class="article"> 
					<?php if($list):?>
					<?php foreach($list as $vo):?>
					<article>
						<div class="title"> 
							<h3><a href="/p/<?php echo $vo['uuid'];?>"><?php echo $vo['title'];?></a></h3>
							<p>
								In <a href="/<?php echo $vo['url'];?>" class="tag"><?php echo $vo['typename'];?></a> By <a href="/u/<?php echo $vo['user_id'];?>" class="b-author" rel="nofollow"><?php echo $vo['nickname'];?></a> / <span class="posttime"><?php echo date('M d, Y',$vo['create_time']);?></span>   View: <span class="view"><?php echo number_format($vo['view_num']);?></span>
							</p>
						</div>
						<div class="content">
							<?php if(!empty($vo['img'])):?>
							<a href="/p/<?php echo $vo['uuid'];?>" class="cover"><img src="<?php echo handle_img($vo['img'],1);?>"  alt=""></a>
							<?php endif;?>

							<div class="detail">
								<p><?php echo $vo['shortdesc'];?></p>
								<div class=" tags">
									<?php echo handle_tag($vo['tags']);?> 
								</div>
							</div>
						</div>
					</article> 
					<?php endforeach;?>

					<?php else:?>
					<div class="empty">暂无文章</div>
					<?php endif;?> 
				</div>

				<div class="page">
					<?php echo $page;?>
				</div>

			</div>
		</div>
		<div class="right">
			<div class="slide"> 
				
				<div class="adv" id="rightAdv">
					<!-- <script type="text/javascript">
					    (function() {
					        var s = "_" + Math.random().toString(36).slice(2);
					        document.write('<div style="" id="' + s + '"></div>');
					        (window.slotbydup = window.slotbydup || []).push({
					            id: "u3545712",
					            container:  s
					        });
					    })();
					</script> -->
				</div>

			
	 
				<?php if(!empty($topArticle)):?>
				<div class="widget sidebar-dubao">
					<h3 class="widget-title">阅读排行</h3>
					<div class="cont">
					    <ul>
					    	<?php  foreach($topArticle as $key=>$vo):?>
					      	<li><a href="/p/<?php echo $vo['uuid'];?>"><strong><?php echo str_pad($key+1, 2,0,STR_PAD_LEFT);?></strong><span><?php echo $vo['title'];?></span></a></li>
					      	<?php endforeach;?>   
					  	</ul>
					</div>
	  			</div>
				<?php endif;?>


				 

				 
			</div>
		</div>


	</div>
	

	
</div>
<?php include $viewPath.'/footer.html';?>

<!-- 多条广告如下脚本只需引入一次 -->
<!-- <script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/c.js" async="async" defer="defer" ></script> -->
	

<script>
xz.adv('#rightAdv','5bb1d6e896807'); 
</script>
	
