<?php include $viewPath.'/header.html';?>


<div class="wrap contain"> 
	<div class="common">
		<h3 class="c_title"><b><?php echo $row['title'];?></b></h3>
		<div class="article">
			<p>如果你觉得Lakeui做得不错，欢迎贡献你的爱心，帮助站长减轻主机与域名的负担，不胜感谢 : ) <br>
			捐赠任意金额，即可出现在 ”爱心榜“ 中；<br>
			单次捐赠 100 元，可投放左侧导航底部 160*80px 广告位一天（24小时），单次捐赠 300 元，可投放全站底部通栏广告三天（72小时）。<br>
			为防止丢失捐赠者数据，请付款后联系站长告知，<a href="/page/about#contact" target="_blank">点击查看联系方式</a>。<br>
			<img src="/<?php echo $theme;?>/images/alipay.png" class="pay"><img src="/<?php echo $theme;?>/images/wxpay.png" class="pay"></p>
		</div>

<!-- 		<div class="article"> 
			<h3 class="c_title"><b class="red">爱心榜</b></h3>
			<ul class="ul-donate">
				<li><i class="fa fa-circle"></i> <span class="lefter">xx</span><span class="righter">捐赠：￥9.99</span></li> 
			</ul> 
		</div> -->
		<div class="ad-list-a">
			<!-- 广告区域 -->
		</div>
				
	</div>

	
</div>
<?php include $viewPath.'/footer.html';?>
	
